<header class="app-header">
  <div class="header-left">
    <span class="app-title">PhotoLib</span>

    <app-toolbar
      [galleries]="galleries"
      [selectedGallery]="selectedGallery"
      (gallerySelected)="selectGallery($event)"
    ></app-toolbar>
  </div>

  <div class="header-right">
    <app-toolbar
      layout="right"
      [selectedGallery]="selectedGallery"
      (newGallery)="openCreateGallery()"
      (properties)="openGalleryProperties()"
    ></app-toolbar>
    <app-gallery-properties
      *ngIf="showGalleryProperties && selectedGallery"
      [gallery]="selectedGallery"
      (close)="closeGalleryProperties()"
    ></app-gallery-properties>
  </div>
</header>

<app-gallery-view
  *ngIf="selectedGallery"
  [gallery]="selectedGallery"
></app-gallery-view>

<div *ngIf="!selectedGallery" class="empty-state">
  Select a gallery to view photos
</div>

<div *ngIf="showCreateGallery" style="color: red">CREATE GALLERY OPEN</div>

<app-create-gallery
  *ngIf="showCreateGallery"
  (create)="createGallery($event)"
  (cancel)="closeCreateGallery()"
></app-create-gallery>
