<header class="app-header">
  <div class="header-left">
    <img class="app-logo" src="logo-full.png" alt="PhotoLib" />

    <app-toolbar
      [galleries]="galleries"
      [selectedGallery]="selectedGallery"
      (gallerySelected)="selectGallery($event)"
      (galleriesReordered)="onGalleriesReordered($event)"
    ></app-toolbar>
  </div>

  <div class="header-right">
    <app-toolbar
      layout="right"
      [selectedGallery]="selectedGallery"
      (newGallery)="openCreateGallery()"
      (addPhotos)="openFilePicker()"
      (addFromInternet)="openAddFromInternet()"
      (properties)="openGalleryProperties()"
      (deleteGallery)="openDeleteGalleryConfirm()"
      (editGallery)="openEditGallery()"
      (slideshow)="onSlideshow()"
      (copySelected)="onCopySelected()"
      (moveSelected)="onMoveSelected()"
      (deleteSelected)="onDeleteSelected()"
      (openSettings)="openSettings()"
    ></app-toolbar>
    <app-gallery-properties
      *ngIf="showGalleryProperties && selectedGallery"
      [gallery]="selectedGallery"
      (close)="closeGalleryProperties()"
    ></app-gallery-properties>
  </div>
</header>

<main class="app-content">
  <app-gallery-page
    *ngIf="selectedGallery"
    [gallery]="selectedGallery"
    [allGalleries]="galleries"
    (galleryEmptied)="onGalleryEmptied()"
    (galleryCreated)="onGalleryCreatedElsewhere($event)"
  ></app-gallery-page>

  <div *ngIf="!selectedGallery" class="empty-state">
    {{ "app.selectGallery" | t }}
  </div>
</main>

<input
  #fileInput
  type="file"
  multiple
  accept="image/*"
  class="hidden-file-input"
  [attr.aria-label]="'app.addPhotosInput' | t"
  (change)="onFilesSelected($event)"
/>

<app-create-gallery
  *ngIf="showCreateGallery"
  (create)="createGallery($event)"
  (cancel)="closeCreateGallery()"
></app-create-gallery>

<app-confirm-modal
  *ngIf="deleteGalleryConfirmOpen"
  [title]="deleteGalleryTitle | t"
  [message]="deleteGalleryMessage | t"
  [confirmText]="'common.delete' | t"
  [isBusy]="isDeletingGallery"
  (confirm)="confirmDeleteGallery()"
  (cancel)="closeDeleteGalleryConfirm()"
></app-confirm-modal>

<app-edit-metadata-modal
  *ngIf="editGalleryOpen && selectedGallery"
  heading="app.editGallery"
  [title]="selectedGallery.title"
  [description]="selectedGallery.description ?? ''"
  [tags]="selectedGallery.tags"
  [isSaving]="isSavingGallery"
  [saveError]="gallerySaveError ? (gallerySaveError | t) : null"
  (save)="saveGalleryEdit($event)"
  (close)="closeEditGallery()"
></app-edit-metadata-modal>

<app-add-from-internet-modal
  *ngIf="showAddFromInternet && selectedGallery"
  [galleryId]="selectedGallery.id"
  [galleryTitle]="selectedGallery.title"
  (close)="closeAddFromInternet()"
></app-add-from-internet-modal>

<app-settings-modal
  *ngIf="showSettings"
  (close)="closeSettings()"
></app-settings-modal>

<app-sync-review-modal></app-sync-review-modal>
