.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

/* HEADER */
.app-header {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  background-color: #111; /* чорны */
  color: #fff;

  font-weight: 600;
  letter-spacing: 0.5px;
}

/* BODY */
.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background-color: #f3f3f3; /* светла-шэры */
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

/* CONTENT */
.content {
  flex: 1;
  background-color: #fff;
  padding: 16px;
}
