.app-header {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  background-color: #111;
  color: #fff;
}

app-toolbar {
  display: flex;
  align-items: center;
}

.app-title {
  font-style: italic; /* ← вяртаем */
  font-weight: 500;
  letter-spacing: 0.4px;
  opacity: 0.9;
  white-space: nowrap;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
}

.hidden-file-input {
  display: none;
}
