.gallery-item {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}
.gallery-item.selected {
  background-color: #dbeafe; /* светла-сіні */
}

.gallery-title {
  flex: 1; /* ← уся шырыня радка */
}

.delete-btn {
  flex: 0 0 auto; /* ← кнопка НЕ расцягваецца */
  margin-left: 8px;
}
