<div class="gallery-view">
  <div class="empty-gallery" *ngIf="loaded && photos.length === 0">
    {{ "galleryView.emptyState" | t }}
  </div>

  <app-gallery-grid
    [photos]="photos"
    (photoClicked)="onPhotoClicked($event)"
    (photosReordered)="onPhotosReordered($event)"
    (editPhotoRequest)="editPhotoRequest.emit($event)"
    (showPhotoInfoRequest)="showPhotoInfoRequest.emit($event)"
    (copyPhotoRequest)="copyPhotoRequest.emit($event)"
    (movePhotoRequest)="movePhotoRequest.emit($event)"
    (deletePhotoRequest)="deletePhotoRequest.emit($event)"
  ></app-gallery-grid>
</div>
