<div class="photo-viewer-carousel">
  <div class="carousel-strip">
    <div class="carousel-items">
      <div
        class="carousel-item"
        *ngFor="let photo of photos"
        [class.active]="photo.id === activePhotoId"
        (click)="selectPhoto(photo.id)"
      >
        <div class="carousel-thumb">
          <app-photo-thumbnail
            [photoId]="photo.id"
            [hasThumbnail]="photo.hasThumbnail"
            alt=""
            loading="eager"
          ></app-photo-thumbnail>
        </div>

        <div
          class="carousel-title"
          [class.active]="photo.id === activePhotoId"
          [attr.data-title]="photo.title"
        >
          {{ photo.title }}
        </div>
      </div>
    </div>
  </div>
</div>
